img {
    margin-left: -8px;
    margin-top: -8px
}

#home {
    margin-top: 0px;
    margin-left: 900px;
}

ul li {
    list-style-type: none;
    display: inline;
}

li.eKuqe {
   color:red; 
}

div {
    background-color:#329DA8 ;
    max-width: 22%;
    border-radius: 20px;
    margin-top: 60px;
    margin-left: 38%;
    height: 200px;
}


ul.login{
    padding-top: 15px;
}

ul.login li{
    font-size: 17px;
    font-weight:bold ;
    display: inline;
    border-right: grey solid 2px;
    padding-left: 8px;
    padding-right: 30px;
    
}

ul.login li:nth-child(3) {
    padding-right: 10px;
}

ul.login li:first-child {
    padding-right: 5px;
}

input[type=text], input[type=password] {
    background-color: #D3D3D3;
    border-radius: 15px;
    margin-left: 20%;
    margin-top: 10px;
    border: none;
    padding-left: 10px;
}

label {
   display: inline-block;
    margin-left: 37%;
    margin-top: 7px
}



button {
    background-color: #4CAF50;
    border: none;
    margin-left: 110px;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50;
    font-family: serif;
    font-weight: bold;
    padding-left: 47%;

}

footer p:first-child {
    padding-left: 50%;
}